.layoutBody {
   height: 100vh;
   overflow: hidden;
}

#headerApp {
    padding: 0; 
    transition: all 0.4s;
    border-bottom: 1px solid var(--gray);
    background-color: var(--backgroundNav);
}

.navBarMobile {
    padding: 1px 0px 1px 0px;
}

#footerApp {
    border-top: 1px solid var(--gray);
    padding: 20px 10px 36px 10px;
    transition:all 0.5s
}

#app { 
    display: flex;
    height: 100vh; 
}
 

.appPage { 
    width: 100%; 
    overflow: auto;
    height: 88%;
    display: 88%;
} 